{% spaceless %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <title>ToDo List</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.6, user-scalable=no">
    <meta name="description" content="ToDo List">
    <meta name="Keywords" content="ToDo List">
    <link rel="stylesheet" type="text/css"  href="https://fonts.googleapis.com/css?family=Roboto:500,300,400&subset=latin" media="all">
    <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/styles/bundle.min.css" media="all">
</head>
<body class="page-body">
<div class="layout">
    <div class="layout__content-wrap">
        <h1 class="title">ToDo List</h1>
        <div class="container">
            <div class="filter">
                <input class="filter__input" placeholder="Filter">
            </div>
            <div class="sections"></div>
        </div>
    </div>
</div>
<script src="/scripts/bundle.min.js"></script>
</body>
</html>
{% endspaceless %}