.filter
    margin-bottom: 20px

    &__input
        border-radius: 5px
        border: 1px solid $color_gray
        min-width: 32%
        padding: 10px;
        box-sizing: border-box
        outline: none
        change-props: min-width

/* media query */
@media $media_tablet

    .filter
        &__input
            min-width: 66%


@media $media_mobile

    .filter
        margin-bottom: 20px

        &__input
            min-width: 100%
