.top-nav
    position absolute
    text-align center
    top 0
    right 0
    left 0
    opacity 0
    transition opacity $time $function

    &:hover
        opacity 1

    &__item
        display inline-block
        vertical-align middle
        margin 2%

    &__link
        display inline-block
        vertical-align middle
        padding 15px 20px
        border-radius 3px
        color $color_white
        background $color_gray
        text-decoration none
        font: 300 16px/1.2 $fontLobster
        transition background $time $function

        &_active
            background $color_pink

        &:hover
            background rgba($color_pink, .9);

