.title
    font: 300 italic 170px/1.1 $fontLobster
    color: $color_dark
    text-shadow: 2px 2px 0 #fff
    margin-bottom: 10%
    text-align: center
    change-props: font-size
    @extend .animateTop
    animation-delay: 0.3s;


/* media query */
@media $media_tablet

    .title
        font-size: 74px
        animation: none

@media $media_mobile

    .title
        font-size: 50px
