.topics-list
    padding-left: 10px
    color: $color_white
    overflow: hidden
    max-height: 200px
    change-props: visibility, opacity, max-height

    &__item
        font: 300 13px/1.2 $fontRoboto
        margin-bottom: 8px
        cursor: pointer
