// Font-family
$fontDefault = Arial, Helvetica, sans-serif
$fontRoboto = 'Roboto', Arial, Helvetica, sans-serif
$fontLobster = 'Lobster', cursive;

// Colors
$color_gray = #7e7e7e
$color_pink = #FF6B6B
$color_mint = #4ECDC4
$color_white = #fff
$color_dark = #556270

// Transition
$time = .3s
$function = linear

// Grid
$grid_hd = 1200px
$grid_tablet = 768px
$grid_mobile = 580px

// Media
$media_hd = "screen and (max-width: " + $grid_hd + ")"  // HD
$media_tablet = "screen and (max-width: " + $grid_tablet + ")"  // Tablet
$media_mobile = "screen and (max-width: " + $grid_mobile + ")"  // Mobile


