@import 'nib'
global-reset()
@require './partials/var'
@require './partials/animate'
@require './partials/title'
@require './partials/layout'
@require './partials/button'
@require './partials/common'
@require './partials/nav'
@require './partials/example'
